<div class="container">
  <div style="display: flex"></div>
  <div #departuresArrivalsTable style="display: flex">
    <div style="margin: 5px">
      <p>
        <mat-toolbar class="black with-margin">
          <mat-toolbar-row>
            <mat-icon class="white-icon">flight_takeoff</mat-icon>
            <span class="ml white-icon">Departures</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </p>
      <table
        class="full-width with-margin mat-elevation-z8"
        mat-table
        [dataSource]="departures"
      >
        <ng-container matColumnDef="airline">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Airline</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="airline"
          >
            <img
              [src]="element.image"
              [alt]="element.alname"
              onerror="this.onerror=null;this.src='assets/icons/airlines/blank.png'"
              height="30px"
              width="40px"
            />
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="fnr">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Flight No.</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="fnr"
            [innerHTML]="element.fnr"
          ></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="destination">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Destination</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="destination"
            [innerHTML]="element.apname"
          ></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="sched">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Scheduled</b>
          </th>
          <td mat-cell class="med" *matCellDef="let element" data-label="sched">
            {{ element.sched ? (element.sched | date : "HH:mm") : "" }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="schalter">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Checkin</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="schalter"
            [innerHTML]="element.schalter"
          ></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="terminal">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Terminal</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="terminal"
            [innerHTML]="element.terminal"
          ></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="gate">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Gate</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="gate"
            [innerHTML]="element.gate"
          ></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Comment</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="status"
            [innerHTML]="element.status"
          ></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="departuresDisplayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: departuresDisplayedColumns"
        ></tr>
      </table>
      <mat-paginator
        style="display: none"
        #departuresPaginator
        [pageSizeOptions]="[PAGE_SIZE]"
      ></mat-paginator>
    </div>
    <div style="margin: 5px; margin-right: 20px">
      <p>
        <mat-toolbar class="black with-margin">
          <mat-toolbar-row>
            <mat-icon class="white-icon">flight_land</mat-icon>
            <span class="ml white-icon">Arrivals</span>
            <span class="pull-right white-icon">{{
              time | async | date : "HH:mm:ss"
            }}</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </p>
      <table
        class="full-width with-margin mat-elevation-z8"
        mat-table
        [dataSource]="arrivals"
      >
        <ng-container matColumnDef="airline">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Airline</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="airline"
          >
            <img
              [src]="element.image"
              [alt]="element.alname"
              onerror="this.onerror=null;this.src='assets/icons/airlines/blank.png'"
              height="30px"
              width="40px"
            />
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="fnr">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Flight No.</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="fnr"
            [innerHTML]="element.fnr"
          ></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="codeshare">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Codeshare</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="codeshare"
          >
            {{ element.cs != null ? element.cs.join(", ") : "" }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="apname">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Place of departure</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="apname"
            [innerHtml]="element.apname"
          ></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="sched">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Scheduled</b>
          </th>
          <td mat-cell class="med" *matCellDef="let element" data-label="sched">
            {{ element.sched ? (element.sched | date : "HH:mm") : "" }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="terminal">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Terminal</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="terminal"
            [innerHTML]="element.terminal"
          ></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header>
            <b>Comment</b>
          </th>
          <td
            mat-cell
            class="med"
            *matCellDef="let element"
            data-label="status"
            [innerHTML]="element.status"
          ></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="arrivalsDisplayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: arrivalsDisplayedColumns"
        ></tr>
      </table>
      <mat-paginator
        style="display: none"
        #arrivalsPaginator
        [pageSizeOptions]="[PAGE_SIZE]"
      ></mat-paginator>
    </div>
  </div>
</div>
